node_red/flows-2.json
[{"id":"1f7c44dc.e02a5b","type":"tab","label":"Client","disabled":false,"info":""},{"id":"89d7bf98.7dfb68","type":"tab","label":"WebSocket Server","disabled":false,"info":""},{"id":"9c6a59ba.7970e","type":"websocket-listener","path":"/ws/receive","wholemsg":"false"},{"id":"fd8b7f42.c255b","type":"websocket-client","path":"ws://localhost:1880/ws/receive","tls":"","wholemsg":"false"},{"id":"acb974f1.de95b","type":"mqtt-broker","name":"","broker":"mqtt.hfg.design","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"9697224f.0b7308","type":"mqtt-broker","name":"","broker":"mqtt.hfg.design","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"1afca00d.a67198","type":"serial-port","serialport":"/dev/tty.usbmodem1432201","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"97446f49.85fa38","type":"serial-port","serialport":"/dev/tty.usbmodem1412201","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"bf4647e5.38e61","type":"websocket-listener","path":"/ws/receive","wholemsg":"false"},{"id":"7ba48fbd.eead2","type":"mqtt-broker","name":"","broker":"mqtt.hfg.design","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"6f2b8ffa.151228","type":"websocket in","z":"89d7bf98.7dfb68","name":"","server":"9c6a59ba.7970e","client":"","x":120,"y":280,"wires":[["8afee24e.2eb0a"]]},{"id":"71af802.2bb018","type":"websocket out","z":"89d7bf98.7dfb68","name":"","server":"9c6a59ba.7970e","client":"","x":560,"y":280,"wires":[]},{"id":"8afee24e.2eb0a","type":"function","z":"89d7bf98.7dfb68","name":"","func":"\nreturn {payload: msg.payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":280,"wires":[["71af802.2bb018","b13dcac4.1ed6b8"]]},{"id":"89297371.19056","type":"inject","z":"1f7c44dc.e02a5b","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"client","v":"inject","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["d86cfbbd.8699a8","287f5b93.0263ec"]]},{"id":"d86cfbbd.8699a8","type":"websocket out","z":"1f7c44dc.e02a5b","name":"WebSocket Server In","server":"","client":"fd8b7f42.c255b","x":580,"y":240,"wires":[]},{"id":"287f5b93.0263ec","type":"mqtt out","z":"1f7c44dc.e02a5b","name":"","topic":"/laborwoche/julian","qos":"","retain":"","broker":"9697224f.0b7308","x":570,"y":120,"wires":[]},{"id":"8558217a.095bf","type":"serial in","z":"1f7c44dc.e02a5b","name":"","serial":"97446f49.85fa38","x":160,"y":380,"wires":[["5a93339e.bb76e4"]]},{"id":"f9ad22fc.e43ec","type":"debug","z":"1f7c44dc.e02a5b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":380,"wires":[]},{"id":"5a93339e.bb76e4","type":"function","z":"1f7c44dc.e02a5b","name":"","func":"msg.payload = parseFloat(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":240,"wires":[["f9ad22fc.e43ec","d86cfbbd.8699a8"]]},{"id":"1acc3b0e.b0c635","type":"mqtt in","z":"89d7bf98.7dfb68","name":"","topic":"/laborwoche/julian","qos":"2","datatype":"auto","broker":"7ba48fbd.eead2","x":130,"y":160,"wires":[["18046bb3.b3ffe4"]]},{"id":"18046bb3.b3ffe4","type":"debug","z":"89d7bf98.7dfb68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":140,"wires":[]},{"id":"b13dcac4.1ed6b8","type":"debug","z":"89d7bf98.7dfb68","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":380,"wires":[]},{"id":"1ee9adcb.c3c5c2","type":"mqtt in","z":"89d7bf98.7dfb68","name":"","topic":"/laborwoche/luca","qos":"2","datatype":"auto","broker":"acb974f1.de95b","x":120,"y":80,"wires":[[]]}]